.landing-page {
    text-align: center;
    padding: 50px;
    background-color: #f0f8ff;
}

.landing-page h1 {
    font-size: 3em;
    color: #0047ab;
}

.landing-page p {
    font-size: 1.2em;
    color: #555;
}

.landing-buttons {
    margin-top: 20px;
}

.landing-buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.landing-buttons button:first-child {
    background-color: #008cba;
    color: white;
}
  
  .landing-buttons button:last-child {
    background-color: #4caf50;
    color: white;
}

.landing-buttons button:hover {
    opacity: 0.8;
}