body {
    margin: 0;
    padding: 0;
}

.create-spot-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.create-spot-form input,
.create-spot-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;;
}

.city-state-container {
    display: flex;
    align-items: center;
    gap: 10px;
}