* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

#home-link-container {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: 4rem;
}

#home-link {
  font-size: 1.7rem;
  font-weight: bolder;
  color: red;
}

#home-icon-container {
  font-size: 2rem;
  padding-top: 0.5rem;
}

.nav-container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  border-bottom: 0.2mm solid rgba(128, 128, 128, 0.5);
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.8rem;
  margin-top: 0.3rem;
}

.profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1.5rem;
  height: 2.5rem;
  width: 5rem;
  color: red;
  margin-right: 4rem;
  border-radius: 2rem;
  border-color: rgba(0, 0, 0, 0.5);
}

.profile-button:hover {
  cursor: pointer;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  gap: 4px;
  /* padding-bottom: 1rem; */
}

.line {
  background-color: grey;
  width: 20px;
  height: 2px;
}

.profile-modal-content {
  position: fixed;
  top: 5rem;
  right: 4rem;
  z-index: 9999;
  background-color: white;
  width: 12rem;
  height: 15rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 0.6rem;
  color: rgb(218, 89, 106);
}

#logout-button {
  cursor: pointer;
  width: 5rem;
}

.login-signup-modal-content {
  position: fixed;
  top: 5rem;
  right: 4rem;
  z-index: 9999;
  background-color: white;
  width: 8rem;
  height: 9rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

.close-modal-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding-left: 0.8rem;
  padding-top: 0.5rem;
}

.open-modal-button {
  width: 5rem;
  cursor: pointer;
}

.login-signup-modal-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 0.6rem;
}

.login-signup-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.login-form-container {
  margin: 3rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
}

.signup-form-container {
  margin: 3rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
}

.login-modal-button {
  background-color: red;
  width: 5.5rem;
  height: 1.6rem;
}

.signup-modal-button {
  background-color: red;
  width: 5.5rem;
  height: 1.6rem;
}

.logout-button-background-container {
  background-color: red;
  width: 5.5rem;
  height: 1.6rem;
}
