.profile-button-container {
    display: inline-block;
    position: relative;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

button:hover {
    color: #ccc;
}