.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
}

.inner-login-form-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 3rem;
}

.credential-label {
  display: flex;
  height: 1.5rem;
  gap: 3.1rem;
  border-color: black;
  font-size: 1.1rem;
}

.login-password-label {
  display: flex;
  height: 1.5rem;
  gap: 7.6rem;
  font-size: 1.1rem;
}

.credential-error {
  color: red;
}

.login-button {
  width: 22.45rem;
  height: 1.8rem;
  cursor: pointer;
  font-size: medium;
  border: 0.1mm solid black;
  background-color: yellow;
}

.demo-login-button {
  background-color: rgb(235, 31, 173);
}

.login-input {
  width: 9.3rem;
  border: 0.1mm solid black;
}
