* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;
}

#login-form h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333
}