.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
}

.inner-login-form-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aqua; */
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 3rem;
}

.credential-label {
  display: flex;
  gap: 1rem;
  border-color: black;
}

.login-password-label {
  display: flex;
  gap: 4.96rem;
  border-color: black;
}

.login-button {
  width: 19.8rem;
}
